<html>
   <head><title>⚡ Charge</title>

   </head>
   <body style='max-width: 1000px; margin: 0 auto; padding-top: 2em;'>
      <img src="https://s3.amazonaws.com/ifixit-assets/static/images/ebay/headerlogo2x.png">
      <h1>⚡ Charge</h1>
      <hr>
      <nav style='display: flex; justify-content: space-around;'>
         <a href="/">Home</a>
         <a href="/worst">Worst</a>
         <a href="/help">Help</a>
      </nav>
      <hr>
      <%= yield %>
   </body>
<html>
